#gomb1
{
    font-size: 32px;
    transition: 0.5s;
    color : rgb(94, 117, 138);
    display: inline-block;
    margin-left: 1%;
    cursor: pointer;
}

#gomb1:hover
{
    font-size : 33px;
    transition: 0.5s;
    color: white;
}

/* ----------------------------- */

#gomb2
{
    font-size: 32px;
    transition: 0.5s;
    color : rgb(153, 167, 184);
    display: inline-block;
    margin-left: 1%;
    cursor: pointer;
}

#gomb2:hover
{
    font-size : 33px;
    transition: 0.5s;
    color: white;
    display: inline-block;
    margin-left: 1%;
    padding-bottom: 6%;
}

#gomb2_al
{
    display:none;
    position:absolute;
    margin-top: 1%;
}

#gomb2_al2
{
    display:none;
    position:absolute;
    margin-top: 5%;
}

#gomb2:hover > #gomb2_al
{
    display: block;

}

#gomb2:hover > #gomb2_al2
{
    display: block;

}